<!DOCTYPE HTML>
<html>
    <head>
        <title>{{page.title}}</title>
        <meta name="description" content="{{page.description}}" />
        {{#each page.styleIncludes}}
            <link rel="stylesheet" type="text/css" href="{{this}}" />
        {{/each}}
        {{#each page.headScriptIncludes}}
            <script type="text/javascript" src="{{this}}"></script>
        {{/each}}
    </head>
    <body>
        {{{page.content}}}
        {{#each page.scriptIncludes}}
            <script type="text/javascript" src="{{this}}"></script>
        {{/each}}
        {{> footer}}
    </body>
</html>